<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>@ViewData["Title"] - SmartHomeWeb</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!--<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
<link rel="stylesheet" href="~/SmartHomeWeb.styles.css" asp-append-version="true" />

<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="~/images/favicon/favicon.ico">

<!-- Libs CSS -->

<link rel="stylesheet" href="~/lib/prismjs/themes/prism.css">
<link rel="stylesheet" href="~/lib/prismjs/plugins/line-numbers/prism-line-numbers.css">
<link rel="stylesheet" href="~/lib/prismjs/plugins/toolbar/prism-toolbar.css">
<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="~/lib/dropzone/dist/dropzone.css">
<link href="~/lib/@@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">






<!-- Theme CSS -->
<link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
<!-- endbuild -->