<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_Head")
</head>
<body>
    <div id="db-wrapper">
        <!-- navbar vertical -->
        @await Html.PartialAsync("_NavbarVertical")

        <!-- page content -->
        <div id="page-content">
            @await Html.PartialAsync("_Header")

            <!-- Container fluid -->
            <div class="container-fluid px-6 py-4">
                @RenderBody()
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_Scripts")
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
